@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.activity-main {
  background-color: #f9f9f9;
}

.activity-main #time {
  height: 0.55rem;
  padding-top: 5.5rem;
}

.activity-main #time #timeData {
  width: 6.7rem;
  height: 0.55rem;
  background-color: rgba(66, 74, 74, 0.5);
  border-radius: 0.2rem;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.activity-main #time #timeData li {
  color: #ffffff;
}

.activity-main #time #timeData .Day,
.activity-main #time #timeData .Hour,
.activity-main #time #timeData .Minute,
.activity-main #time #timeData .Second {
  color: #ffffff;
}

.activity-main #time #timeData .countdown-box {
  margin-top: -0.2rem;
}

.activity-main #time #timeData .countdown-box span {
  color: #ffffff;
}

.activity-main #time #timeData .countdown-box li:nth-child(odd) {
  border-radius: 0.08rem;
}

.activity-main #time .countdown-main {
  background: transparent;
}

.activity-main #time .countdown-main .countdown-box {
  line-height: 0.8rem;
}

.activity-main #time .countdown-main span {
  color: #424a4a;
  font-size: 0.23rem;
}

.activity-main #time .countdown-main ul li:nth-of-type(even) {
  font-size: 0.18rem;
}

.activity-main #time .countdown-main ul li:nth-of-type(odd) {
  width: 0.65rem;
  height: 0.62rem;
  border-radius: 0.05rem;
  font-size: 0.36rem;
  line-height: 0.62rem;
  letter-spacing: 0.01rem;
  background-color: rgba(0, 0, 0, 0);
}

.banner {
  position: relative;
  background: url(../banner.jpg) no-repeat 0 0/100%;
  width: 19.2rem;
  height: 6.36rem;
}

.banner .kefu {
  position: absolute;
  right: 49px;
  top: 56px;
  width: 1.63rem;
  height: 0.41rem;
  font-size: 0.18rem;
  font-weight: normal;
  line-height: 0.41rem;
  letter-spacing: 0.0005rem;
  text-align: center;
  color: #2b2b2b;
  border-radius: 0.2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffde8d), to(#fdac05));
  background-image: linear-gradient(to bottom, #ffde8d, #fdac05);
}

.title {
  font-size: 0.38rem;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 0.05px;
  text-align: center;
  color: #2c317f;
  position: relative;
  width: 4.2rem;
  margin: 0 auto;
  line-height: 0.38rem;
}

.title::before {
  content: "";
  background: url(../before.png) no-repeat 0 0/100% auto;
  width: 0.82rem;
  height: 0.22rem;
  position: absolute;
  left: -0.75rem;
  top: 25%;
}

.title::after {
  content: "";
  background: url(../after.png) no-repeat 0 0/100% auto;
  width: 0.82rem;
  height: 0.22rem;
  position: absolute;
  right: -0.75rem;
  top: 25%;
}

.section1 {
  height: 18rem;
  min-height: 755px;
  text-align: center;
}

.section1 .container1 {
  width: 10rem;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 7.54rem;
}

.section1 .container1 .box-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px;
}

.section1 .container1 .box-list li {
  cursor: pointer;
}

.section1 .container1 .box-list li .reversal-1 {
  margin: 0 auto;
  position: relative;
  left: 0px;
  top: 0px;
}

.section1 .container1 .box-list li .reversal-1:hover > .section-1-1 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.section1 .container1 .box-list li .reversal-1:hover > .section-1-1-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.section1 .container1 .box-list li .reversal-1 .section-1-1 {
  width: 3rem;
  height: 4.2rem;
  background: url(../section1-1.png) no-repeat 0 0/100%;
}

.section1 .container1 .box-list li .reversal-1 .section-1-1-back {
  width: 3rem;
  height: 4.2rem;
  background: url(../section1-1-back2.png) no-repeat 0 0/100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1 .container1 .box-list li .reversal-1 .section-1-1-back p {
  padding: 0.2rem 0.1rem 0 0.2rem;
  font-size: 0.16rem;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  line-height: 0.3rem;
  letter-spacing: 0.03rem;
}

.section1 .container1 .box-list li .reversal-2 {
  margin: 0 auto;
  position: relative;
  left: 0px;
  top: 0px;
}

.section1 .container1 .box-list li .reversal-2:hover > .section-1-2 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.section1 .container1 .box-list li .reversal-2:hover > .section-1-2-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.section1 .container1 .box-list li .reversal-2 .section-1-2 {
  width: 3rem;
  height: 4.2rem;
  background: url(../section1-2.png) no-repeat 0 0/100%;
}

.section1 .container1 .box-list li .reversal-2 .section-1-2-back {
  width: 3rem;
  height: 4.2rem;
  background: url(../section1-2-back2.png) no-repeat 0 0/100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1 .container1 .box-list li .reversal-2 .section-1-2-back p {
  padding: 0.2rem 0.1rem 0 0.2rem;
  font-size: 0.16rem;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  line-height: 0.3rem;
  letter-spacing: 0.03rem;
}

.section1 .container1 .box-list li .reversal-3 {
  margin: 0 auto;
  position: relative;
  left: 0px;
  top: 0px;
}

.section1 .container1 .box-list li .reversal-3:hover > .section-1-3 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.section1 .container1 .box-list li .reversal-3:hover > .section-1-3-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.section1 .container1 .box-list li .reversal-3 .section-1-3 {
  width: 3rem;
  height: 4.2rem;
  background: url(../section1-3.png) no-repeat 0 0/100%;
}

.section1 .container1 .box-list li .reversal-3 .section-1-3-back {
  width: 3rem;
  height: 4.2rem;
  background: url(../section1-3-back2.png) no-repeat 0 0/100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1 .container1 .box-list li .reversal-3 .section-1-3-back li {
  color: #ffffff;
  font-size: 0.18rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.09px;
  margin: 0.1rem auto;
}

.section1 .container1 .box-list li .reversal-3 .section-1-3-back li p {
  padding-top: 0.05rem;
  font-weight: 300;
  font-size: 0.24rem;
}

.section1 .container1 .box-list li .reversal-3 .section-1-3-back li span {
  font-weight: 600;
  font-size: 0.24rem;
}

.section1 .container1 .box-list li .section-1-1-back,
.section1 .container1 .box-list li .section-1-2-back,
.section1 .container1 .box-list li .section-1-3-back {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.section1 .container1 .box-list li .section-1-1,
.section1 .container1 .box-list li .section-1-2,
.section1 .container1 .box-list li .section-1-3 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.section1-2 {
  width: 100%;
  height: 9.2rem;
  position: absolute;
  left: 0;
  top: 14.54rem;
  padding-top: 0.6rem;
  background: url(../section3.jpg) no-repeat 0/100% 100%;
}

.section1-2 .box2-list {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  width: 9.8rem;
  min-width: 580px;
  margin: 0.4rem auto;
}

.section1-2 .box2-list li {
  width: 4.6rem;
  min-width: 280px;
  border-radius: 0.2rem;
  -webkit-box-shadow: inset 0.04rem 0.04rem 0.1rem 0 #a2a2ba;
  box-shadow: inset 0.04rem 0.04rem 0.1rem 0 #a2a2ba;
  background-color: #ffffff;
  margin-bottom: 0.2rem;
}

.section1-2 .box2-list li .min-title {
  font-size: 0.16rem;
  font-weight: 300;
  letter-spacing: 0.07px;
  color: #000;
  padding: 0.4rem 0.4rem 0 0.4rem;
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1-2 .box2-list li .min-title .icon {
  position: absolute;
  top: 0.22rem;
  left: calc(50% - 0.25rem);
  border-radius: 50%;
}

.section1-2 .box2-list li .min-title .analyst-name {
  width: 40%;
}

.section1-2 .box2-list li .min-title img {
  width: 0.6rem;
  height: 0.6rem;
}

.section1-2 .box2-list li .min-title .name {
  font-size: 0.2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: normal;
  color: #2c317f;
  position: absolute;
  left: calc(20% + 0.07rem);
  top: calc(50% + 0.12rem);
}

.section1-2 .box2-list li .min-title .name::after {
  position: absolute;
  content: "";
  border-bottom: 0.02rem solid #2c317f;
  left: -0.6rem;
  top: 0.22rem;
  width: 1.5rem;
  height: 0.02rem;
  min-width: 80px;
}

.section1-2 .box2-list li .min-title .win-percent {
  width: 40%;
  position: absolute;
  right: 0;
  top: 0.4rem;
}

.section1-2 .box2-list li .min-title .percent {
  font-size: 0.26rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2c317f;
  position: absolute;
  right: calc(50% - 0.6rem);
  top: calc(50% - 0.14rem);
}

.section1-2 .box2-list li .min-title .percent::after {
  position: absolute;
  content: "";
  border-bottom: 0.02rem solid #2c317f;
  left: calc(50% - 1.24rem);
  top: 0.28rem;
  width: 1.5rem;
  min-width: 78px;
  height: 0.02rem;
}

.section1-2 .box2-list li .content {
  font-family: PingFangSC;
  font-size: 0.17rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.0077rem;
  text-align: center;
  color: #424a4a;
  padding: 0.27rem 0.4rem 0.25rem 0.4rem;
}

.section1-2 .box2-list-b {
  margin: 0 auto;
  width: 9.8rem;
}

.section1-2 .box2-list-b .title2 {
  font-size: 0.24rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.09px;
  text-align: center;
  color: #2c317f;
  position: relative;
  width: 5rem;
  margin: auto;
}

.section1-2 .box2-list-b .title2::before {
  content: "";
  position: absolute;
  left: -0.2rem;
  top: 0;
  width: 0.36rem;
  height: 0.3rem;
  background: url(../notice.png) no-repeat 0 0/100%;
}

.section1-2 .box2-list-b a.down-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 0.6rem;
  margin: 0.2rem auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
  background-color: #2c317f;
  font-size: 0.18rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.0077rem;
  text-align: center;
  color: #ffffff;
  line-height: 0.6rem;
}

.section2 {
  background-color: #f9f9f9;
  padding-top: 0.5rem;
  position: relative;
}

.section2 .container {
  position: relative;
  height: 850px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 2;
}

.section2 .container .s2-info {
  margin: 0.3rem auto;
  width: 6.2rem;
  font-size: 0.17rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: 0.0077rem;
  text-align: center;
  color: #424a4a;
}

.section2 .container .highchart-title {
  width: 1200px;
  height: 80px;
  background-color: #2c317f;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2 .container .highchart-title p {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.09px;
  text-align: justify;
  color: #ffffff;
  margin: auto;
}

.section2 .container .highchart-title span {
  margin: auto;
  width: 0px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.09px;
  text-align: justify;
  color: #ffffff;
  position: relative;
}

.section2 .container .highchart-title span::before {
  content: "";
  height: 100px;
  width: 2px;
  background: #fff;
  position: absolute;
  left: -90px;
  top: -40px;
}

.section2 .container .highcharts-figure {
  width: 1200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.section2 .container .highcharts-figure #container {
  width: 900px;
  height: 500px;
}

.section2 .container .highcharts-figure #controls {
  margin: 0 auto;
  text-align: center;
}

.section2 .container .highcharts-figure .highcharts-info {
  position: relative;
  right: 0;
  top: 0;
  width: 310px;
  height: 500px;
  font-size: 18px;
}

.section2 .container .highcharts-figure .highcharts-info table {
  width: 305px;
  height: 550px;
  border: solid 2px #2c317f;
  color: #fff;
  border-left: none;
  -webkit-box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.5);
}

.section2 .container .highcharts-figure .highcharts-info table td {
  padding: 18px 13px;
  width: 50%;
  background-color: #8084b5;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.77px;
}

.section2 .container .highcharts-figure .highcharts-info table .val {
  background-color: #f0f1ff;
  color: #2c317f;
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.09px;
}

.section2 .container .highcharts-figure .highcharts-info table .left-val {
  text-align: left;
  padding: 0 5px;
}

.section2 .container .highcharts-figure .highcharts-info table .left-val .data-analysis {
  font-size: 16px;
}

.section2 .container .highcharts-figure .highcharts-info::before {
  content: "由历史数据图表可以看出其二者的变化对比";
  position: absolute;
  left: -893px;
  bottom: -50px;
  width: 893px;
  height: 50px;
  font-size: 18px;
  color: #2b2b2b;
  text-align: center;
  padding: 10px;
  background-color: #efefef;
  border-left: 2px solid #2c317f;
  border-bottom: 2px solid #2c317f;
  border-right: 2px solid #2c317f;
  -webkit-box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.5);
}

.section2 .container .highcharts-figure .highcharts-figure,
.section2 .container .highcharts-figure .highcharts-data-table table {
  min-width: 320px;
  max-width: 1500px;
  margin: 1em auto;
  border: 1px solid red;
}

.section2 .container .highcharts-figure .highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 450px;
}

.section2 .container .highcharts-figure .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.section2 .container .highcharts-figure .highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.section2 .container .highcharts-figure .highcharts-data-table td,
.section2 .container .highcharts-figure .highcharts-data-table th,
.section2 .container .highcharts-figure .highcharts-data-table caption {
  padding: 0.5em;
}

.section2 .container .highcharts-figure .highcharts-data-table thead tr,
.section2 .container .highcharts-figure .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.section2 .container .highcharts-figure .highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.section3 {
  background-color: #f9f9f9;
  text-align: center;
  height: 9rem;
  margin-top: 1rem;
}

.section3 .title {
  margin-bottom: 0.4rem;
}

.section3 .s3-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 6.5rem;
}

.section3 .s3-list .s3-data {
  width: 7.5rem;
  height: 2rem;
  font-size: 0.24rem;
  background-color: #ffffff;
  color: #000;
  margin: 0.1rem auto;
  padding: 0.2rem;
  -webkit-box-shadow: 0 0.1rem 0.1rem -0.4rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.1rem 0.1rem -0.4rem rgba(0, 0, 0, 0.4);
}

.section3 .s3-list .s3-data .data-content {
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.section3 .s3-list .s3-data .data-content p {
  padding-right: 0.14rem;
  text-align: left;
}

.section3 .s3-list .s3-data .data-content img {
  width: 1.5rem;
  height: 1.3rem;
}

.section3 .s3-list .s3-data .data-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.section3 .s3-list .s3-data .data-info span {
  margin-left: 0.1rem;
  font-size: 0.16rem;
}

.section3 .s3-list .release-time {
  font-size: 0.16rem;
}

.section3 .s3-list .pviews {
  font-size: 0.16rem;
}

.section4 {
  width: 19.2rem;
  background-color: #f9f9f9;
  height: 8rem;
  position: relative;
}

.section4 .section4-VS {
  position: absolute;
  left: calc(50% - 2.75rem);
  top: 1rem;
  z-index: 10;
  width: 4.68rem;
  height: 5.5rem;
  background: url(../section4_VS.png) no-repeat 0 0/100%;
}

.section4 .section4-left {
  position: absolute;
  left: 0;
  top: 1rem;
  width: 10.44rem;
  height: 5.5rem;
}

.section4 .section4-left .section4-left-img {
  width: 10.44rem;
  height: 5.5rem;
  background: url(../section4_left.png) no-repeat 0 0/100%;
}

.section4 .section4-left .section4-left-img:hover, .section4 .section4-left .section4-left-img:active {
  background: url(../section4_left_hover.png) no-repeat 0 0/100%;
}

.section4 .section4-left .section4-left-img .section4-left-info {
  position: absolute;
  right: 2.7rem;
  top: 1.75rem;
  width: 3rem;
  height: 150px;
  color: #fff;
  z-index: 11;
  font-size: 0.26rem;
  text-shadow: 0 0.02rem 0.04rem rgba(0, 0, 0, 0.5);
  line-height: 0.4rem;
}

.section4 .section4-right {
  position: absolute;
  right: 0;
  top: 1rem;
  width: 10.44rem;
  height: 5.5rem;
}

.section4 .section4-right .section4-right-img {
  width: 10.44rem;
  height: 5.5rem;
  background: url(../section4_right.png) no-repeat 0 0/100%;
}

.section4 .section4-right .section4-right-img:hover, .section4 .section4-right .section4-right-img:active {
  background: url(../section4_right_hover.png) no-repeat 0 0/100%;
}

.section4 .section4-right .section4-right-img .section4-right-info {
  position: absolute;
  left: 2.5rem;
  top: 1.75rem;
  width: 3rem;
  height: 1.5rem;
  color: #fff;
  z-index: 11;
  font-size: 0.26rem;
  text-shadow: 0 0.02rem 0.04rem rgba(0, 0, 0, 0.5);
  line-height: 0.4rem;
}

.section4 .box4-down-app {
  margin: 0 auto;
  width: 9.8rem;
}

.section4 .box4-down-app a.down-app {
  position: absolute;
  left: calc(50% - 1.6rem);
  bottom: 0;
  width: 2.5rem;
  height: 0.6rem;
  margin: 0.2rem auto;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
  background-color: #2c317f;
  font-size: 0.17rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.0077rem;
  text-align: center;
  color: #ffffff;
  line-height: 0.6rem;
}

.section5 {
  padding-bottom: 1.55rem;
  text-align: center;
  background-color: #f9f9f9;
  position: relative;
}

.section5 .js-noLogin {
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 0.2rem;
  margin: 0 auto;
  padding-top: 0.55rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section5 .js-noLogin .account-wrap {
  background-color: #ffffff;
  padding: 0.33rem 0 0.57rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 6.9rem;
  border-radius: 10px;
  margin: 0.2rem auto;
  text-align: left;
}

.section5 .js-noLogin .account-wrap .step1 .account-step > p {
  display: none;
}

.section5 .js-noLogin .account-wrap .account-real {
  width: 6.46rem;
  margin-top: 0;
}

.section5 .js-noLogin .account-wrap .account-real .fieldbox {
  height: 0.92rem;
  margin-top: 0.34rem;
  border-radius: 0.12rem;
  background-color: #f1f2ff;
  border: 0.01rem solid #f1f2ff;
}

.section5 .js-noLogin .account-wrap .account-real .fieldbox .field {
  background: transparent;
  height: 100%;
  font-size: 0.27rem;
  padding-left: 0.75rem;
}

.section5 .js-noLogin .account-wrap .account-real .fieldbox:first-child {
  margin-top: 0;
}

.section5 .js-noLogin .account-wrap .account-real .fieldbox:nth-child(1)::before, .section5 .js-noLogin .account-wrap .account-real .fieldbox:nth-child(2)::before {
  content: "";
  height: 0.35rem;
  width: 0.45rem;
  position: absolute;
  left: 0.2rem;
  top: 0.3rem;
  background: url(number-icon.svg) no-repeat 0 0/100% 100%;
  padding-right: 0.05rem;
  margin-right: 0.05rem;
  border-right: 1px solid #2c317f;
}

.section5 .js-noLogin .account-wrap .account-real .fieldbox:nth-child(3)::before {
  content: "";
  height: 0.35rem;
  width: 0.45rem;
  top: 0.3rem;
  position: absolute;
  left: 0.2rem;
  background: url(psw-icon.svg) no-repeat 0 0/100% 100%;
  padding-right: 0.05rem;
  margin-right: 0.05rem;
  border-right: 1px solid #2c317f;
}

.section5 .js-noLogin .account-wrap .account-real .fieldbox:nth-child(5)::before {
  content: "";
  height: 0.35rem;
  width: 0.45rem;
  top: 0.3rem;
  position: absolute;
  left: 0.2rem;
  background: url(msg-icon.svg) no-repeat 0 0/100% 100%;
  padding-right: 0.05rem;
  margin-right: 0.05rem;
  border-right: 1px solid #2c317f;
}

.section5 .js-noLogin .account-wrap .account-real input::-webkit-input-placeholder,
.section5 .js-noLogin .account-wrap .account-real textarea::-webkit-input-placeholder {
  color: #2c317f;
  font-size: 0.27rem;
}

.section5 .js-noLogin .account-wrap .account-real a.getcode {
  border: 0;
  top: 50%;
  bottom: 0;
  margin-top: -0.15rem;
  font-size: 0.2rem;
  color: #2c317f;
}

.section5 .js-noLogin .account-wrap .account-real .check-xieyi {
  font-size: 0.27rem;
  color: #9a9a99;
  margin-top: 0.25rem;
}

.section5 .js-noLogin .account-wrap .account-real .check-xieyi input[type="checkbox"] {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: #fff;
  border: 2px solid #2c317f;
}

.section5 .js-noLogin .account-wrap .account-real .check-xieyi input[type="checkbox"]:checked {
  width: 0.3rem;
  height: 0.3rem;
  border: 0;
  border-radius: 0.15rem;
  background: #2c317f url(../../ucenter/icon_reg.png) no-repeat 76% center;
  background-size: auto 0.24rem;
}

.section5 .js-noLogin .account-wrap .account-real .check-xieyi a,
.section5 .js-noLogin .account-wrap .account-real .check-xieyi a:visited {
  color: #2c317f;
}

.section5 .js-noLogin .account-wrap .account-real .buttonarea > a {
  width: 2rem;
  height: 0.8rem;
  margin-top: 0.56rem;
  line-height: 0.8rem;
  font-size: 0.34rem;
  color: #fff;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 0.12rem;
  -webkit-box-shadow: 0.04rem 0.04rem 0.12rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0.04rem 0.04rem 0.12rem 0 rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b6b9e0), color-stop(91%, #2c317f));
  background-image: linear-gradient(to bottom, #b6b9e0, #2c317f 91%);
}

.section5 .js-noLogin .account-wrap .account-real .buttonarea .btn-down {
  border: 0;
}

.section5 .js-noLogin .account-wrap .account-real .buttonarea .btn-down:visited {
  border: 0;
}

.section5 .js-noLogin .account-wrap .account-real .notice {
  position: absolute;
  font-size: 0.18rem;
  padding-top: 0;
}

.pop {
  display: none;
  position: fixed;
  top: 35%;
  left: calc(50% - 3.8rem);
  width: 7.24rem;
  height: 4.5rem;
  z-index: 999;
  -webkit-box-shadow: 0px 0.03rem 0.15rem rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0.03rem 0.15rem rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.pop .pop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
}

.pop .pop-container .pop-title {
  width: 100%;
  height: 0.8rem;
  background-color: #2c317f;
  position: relative;
}

.pop .pop-container .pop-title .close {
  width: 0.39rem;
  height: 0.39rem;
  background: url(../close.png) center 0px/100% no-repeat;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}

.pop .pop-container .pop-title .close:hover {
  cursor: pointer;
}

.pop .pop-container .pop-content {
  background-color: #ffffff;
  width: 5rem;
  height: 3.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pop .pop-container .pop-content h5 {
  font-size: 0.38rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #2c317f;
  padding-bottom: 0.2rem;
}

.pop .pop-container .pop-content p {
  font-size: 0.27rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.01 0.23rem;
  text-align: center;
  color: #7a7a7a;
  padding-bottom: 0.4rem;
}

.pop .pop-container .pop-content a.open-account {
  width: 2.5rem;
  height: 0.6rem;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
  background-color: #2c317f;
  font-size: 0.18rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.0077rem;
  text-align: center;
  color: #ffffff;
  line-height: 0.6rem;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: block;
  }
  .banner {
    width: 100%;
    background: url(../banner_m.jpg) no-repeat 0 0/100% auto;
    height: 3rem;
  }
  .banner .kefu {
    width: 1.3rem;
    height: 0.35rem;
    right: 0.44rem;
    top: 1.61rem;
    font-size: 0.18rem;
    line-height: 0.35rem;
    border-radius: 0.2rem;
  }
  .banner #time {
    width: 7.7rem;
    padding-top: 3rem;
  }
  .banner #time #timeData {
    width: 100%;
    background-color: #141818;
    border-radius: 0;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 9rem;
    min-height: 370px;
  }
  .section1 .container1 {
    margin: 1.2rem auto 0.2rem;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
  }
  .section1 .container1 .box-list-m p {
    width: 5.61rem;
    height: 4.27rem;
    margin: 0.3rem auto;
    text-shadow: 0 0.02rem 0.04rem rgba(0, 0, 0, 0.5);
    font-family: PingFangSC;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.0127rem;
    text-align: justify;
    color: #ffffff;
  }
  .section1 .container1 .box-list-m .li1 {
    width: 6.9rem;
    height: 4.72rem;
    background: url(../s1-li1-m.jpg) no-repeat 0 0/100% auto;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 3.45rem);
    top: 2rem;
    font-size: 0.32rem;
    color: #fff;
  }
  .section1 .container1 .box-list-m .s1-li1-active {
    position: absolute;
    left: 0.39rem;
    top: 1.1rem;
    width: 2.3rem;
    height: 0.9rem;
    background: url(../s1-li1-title-active-m.png) no-repeat 0 0/100% auto;
  }
  .section1 .container1 .box-list-m .s1-li1 {
    position: absolute;
    left: 0.39rem;
    top: 1.1rem;
    width: 2.2rem;
    height: 0.9rem;
    background: url(../s1-li1-title-m.png) no-repeat 0 0/100% auto;
  }
  .section1 .container1 .box-list-m .li2 {
    display: none;
    width: 6.9rem;
    height: 4.72rem;
    background: url(../s1-li2-m.jpg) no-repeat 0 0/100% auto;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 3.45rem);
    top: 2rem;
    font-size: 0.32rem;
    color: #fff;
  }
  .section1 .container1 .box-list-m .s1-li2-active {
    display: none;
    position: absolute;
    left: 2.69rem;
    top: 1.1rem;
    width: 2.3rem;
    height: 0.9rem;
    background: url(../s1-li2-title-active-m.png) no-repeat 0 0/100% auto;
  }
  .section1 .container1 .box-list-m .s1-li2 {
    position: absolute;
    left: 2.74rem;
    top: 1.1rem;
    width: 2.2rem;
    height: 0.9rem;
    background: url(../s1-li2-title-m.png) no-repeat 0 0/100% auto;
  }
  .section1 .container1 .box-list-m .li3 {
    display: none;
    width: 6.9rem;
    height: 4.72rem;
    background: url(../s1-li3-m.jpg) no-repeat 0 0/100% auto;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 3.45rem);
    top: 2rem;
    font-size: 0.32rem;
    color: #fff;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(1) {
    width: 3.4rem;
    height: 2.3rem;
    padding: 0.5rem 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(1) p {
    width: 2.5rem;
    height: 1rem;
    text-align: center;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(2) {
    width: 3.4rem;
    height: 2.3rem;
    padding: 0.5rem 0.3rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(2) p {
    width: 2.5rem;
    height: 1rem;
    text-align: center;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(3) {
    width: 3.4rem;
    height: 2.3rem;
    padding: 0.5rem 0.3rem;
    position: absolute;
    top: 2.3rem;
    left: 0;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(3) p {
    width: 2.5rem;
    height: 1rem;
    text-align: center;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(4) {
    width: 3.4rem;
    height: 2.3rem;
    padding: 0.5rem 0.3rem;
    position: absolute;
    top: 2.3rem;
    right: 0;
  }
  .section1 .container1 .box-list-m .li3 li:nth-child(4) p {
    width: 2.5rem;
    height: 1rem;
    text-align: center;
  }
  .section1 .container1 .box-list-m .s1-li3-active {
    display: none;
    position: absolute;
    left: 4.99rem;
    top: 1.1rem;
    width: 2.3rem;
    height: 0.9rem;
    background: url(../s1-li3-title-active-m.png) no-repeat 0 0/100% auto;
  }
  .section1 .container1 .box-list-m .s1-li3 {
    position: absolute;
    left: 5.09rem;
    top: 1.1rem;
    width: 2.2rem;
    height: 0.9rem;
    background: url(../s1-li3-title-m.png) no-repeat 0 0/100% auto;
  }
  .section1-2 {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    height: 10rem;
    background: url(../section3-m.jpg) no-repeat 0/100% 100%;
  }
  .section1-2 .box2-list-m {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    padding-bottom: 1rem;
  }
  .section1-2 .box2-list-m li {
    width: 5rem !important;
    height: 4.74rem !important;
    border-radius: 0.2rem;
    -webkit-box-shadow: inset 0.04rem 0.04rem 0.1rem 0 #a2a2ba;
    box-shadow: inset 0.04rem 0.04rem 0.1rem 0 #a2a2ba;
    background-color: #ffffff;
  }
  .section1-2 .box2-list-m li .min-title {
    font-size: 0.16rem;
    font-weight: 300;
    letter-spacing: 0.0007rem;
    color: #000;
    padding: 0.4rem 0.4rem 0 0.4rem;
    text-align: left;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section1-2 .box2-list-m li .min-title .icon {
    position: absolute;
    top: 0.22rem;
    left: 2.2rem;
    border-radius: 50%;
  }
  .section1-2 .box2-list-m li .min-title .analyst-name {
    width: 40%;
  }
  .section1-2 .box2-list-m li .min-title img {
    width: 0.6rem;
    height: 0.6rem;
  }
  .section1-2 .box2-list-m li .min-title .name {
    font-size: 0.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #2c317f;
    position: absolute;
    left: 1.1rem;
    top: 0.42rem;
  }
  .section1-2 .box2-list-m li .min-title .name::after {
    position: absolute;
    content: "";
    border-bottom: 0.02rem solid #2c317f;
    left: -0.7rem;
    top: 0.25rem;
    width: 1.7rem;
    height: 0.02rem;
  }
  .section1-2 .box2-list-m li .min-title .win-percent {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0.4rem;
  }
  .section1-2 .box2-list-m li .min-title .percent {
    font-size: 0.26rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #2c317f;
    position: absolute;
    right: 0.5rem;
    top: -0.04rem;
  }
  .section1-2 .box2-list-m li .min-title .percent::after {
    position: absolute;
    content: "";
    border-bottom: 0.02rem solid #2c317f;
    left: -1rem;
    top: 0.31rem;
    width: 1.6rem;
    height: 0.02rem;
  }
  .section1-2 .box2-list-m li .content {
    width: 4.4rem;
    height: 3.28rem;
    font-family: PingFangSC;
    font-size: 0.17rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.0127rem;
    text-align: start;
    color: #424a4a;
    padding: 0.27rem 0 0.25rem 0;
    font-size: 0.28rem;
    margin: 0 auto;
  }
  .section1-2 .box2-list-b {
    margin: 0.3rem auto;
    text-align: center;
    width: auto;
  }
  .section1-2 .box2-list-b .title2 {
    font-size: 0.24rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.0109rem;
    text-align: center;
    color: #2c317f;
    position: relative;
    width: 5rem;
    margin: auto;
  }
  .section1-2 .box2-list-b .title2::before {
    content: "";
    position: absolute;
    left: -0.2rem;
    top: 0;
    width: 0.36rem;
    height: 0.3rem;
    background: url(../notice.png) no-repeat 0 0/100%;
  }
  .section1-2 .box2-list-b a.down-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.5rem;
    height: 0.9rem;
    margin: 0.2rem auto;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
    background-color: #2c317f;
    font-size: 0.28rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.0127rem;
    text-align: center;
    color: #ffffff;
    line-height: 0.6rem;
  }
  .section2 {
    background-color: #f9f9f9;
    padding-top: 0.97rem;
    position: relative;
  }
  .section2 .container {
    position: relative;
    height: 15.5rem;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
  }
  .section2 .container .s2-info {
    margin: 0.3rem auto;
    width: 6.2rem;
    font-size: 0.17rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.0077rem;
    text-align: center;
    color: #424a4a;
  }
  .section2 .container .highchart-title-m {
    width: 6.9rem;
    height: 0.8rem;
    background-color: #2c317f;
    margin: 0.2rem auto 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
  .section2 .container .highchart-title-m p {
    font-size: 0.38rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.0109rem;
    text-align: justify;
    color: #ffffff;
    margin: auto;
  }
  .section2 .container .highcharts-info-m table {
    width: 6.9rem;
    /* height: 500px; */
    margin: 0 auto;
    border: solid 0.02rem #2c317f;
    color: #2c317f;
    border-bottom: none;
  }
  .section2 .container .highcharts-info-m table td {
    padding: 0.1rem;
    width: 25%;
    background-color: #ffffff;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.0118rem;
    font-size: 0.26rem;
    color: #2c317f;
    text-align: right;
  }
  .section2 .container .highcharts-info-m table .val {
    background-color: #ffffff;
    color: #2c317f;
    text-align: right;
    font-size: 0.34rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.0155rem;
  }
  .section2 .container .highcharts-info-m table .left-val {
    text-align: left;
    padding: 0 0 0 0.13rem;
  }
  .section2 .container .highcharts-info-m table .left-val #data-analysis {
    font-size: 0.14rem;
  }
  .section2 .container .highcharts-info-m .s2-date-m {
    width: 6.9rem;
    height: 0.8rem;
    background-color: #efefef;
    margin: 0 auto;
    border-top: 0.01rem solid #2c317f;
    border-left: 0.02rem solid #2c317f;
    border-right: 0.02rem solid #2c317f;
  }
  .section2 .container .highcharts-info-m .s2-date-m span {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.34rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: 0.0155rem;
    text-align: center;
    color: #2c317f;
  }
  .section2 .container .highcharts-info-m .s2-border-bottom {
    border-top: none;
    border-bottom: 0.01rem solid #2c317f;
  }
  .section2 .container .highcharts-info-m .s2-table-bottom {
    height: 1.5rem;
    border-bottom: 0.02rem solid #2c317f;
    border-top: none;
  }
  .section2 .container .highcharts-info-m .s2-table-bottom td {
    padding: 0.1rem;
    text-align: center;
  }
  .section2 .container .highcharts-info-m .s2-analysis-m {
    margin: 0 auto;
    width: 6.9rem;
    height: 1rem;
    background: #2c317f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section2 .container .highcharts-info-m .s2-analysis-m span {
    font-size: 0.26rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.0118rem;
    text-align: center;
    color: #ffffff;
  }
  .section2 .container .highcharts-figure {
    width: 6.9rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .section2 .container .highcharts-figure #container {
    width: 6.9rem;
    height: 6rem;
  }
  .section2 .container .highcharts-figure #controls {
    margin: 0 auto;
    text-align: center;
  }
  .section3 {
    height: 8rem;
    margin-top: 0rem;
  }
  .section3 .s3-list .s3-data {
    padding: 0.2rem 0.4rem;
  }
  .section4 {
    width: 7.5rem;
    background-color: #f9f9f9;
    height: 6.5rem;
    position: relative;
  }
  .section4 .section4-VS {
    position: absolute;
    left: calc(50% - 1.2rem);
    top: 1rem;
    z-index: 10;
    width: 2.6rem;
    height: 5.5rem;
    background: url(../section4_VS-m.png) no-repeat 0 0/100%;
  }
  .section4 .section4-left {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 4.85rem;
    height: 5.5rem;
  }
  .section4 .section4-left .section4-left-img {
    width: 4.85rem;
    height: 5.5rem;
    background: url(../section4_left-m.png) no-repeat 0 0/100%;
  }
  .section4 .section4-left .section4-left-img:hover {
    background: url(../section4_left_hover-m.png) no-repeat 0 0/100%;
  }
  .section4 .section4-left .section4-left-img .section4-left-info {
    position: absolute;
    right: 1.5rem;
    top: 1.75rem;
    width: 3rem;
    height: 1.5rem;
    color: #fff;
    z-index: 11;
    font-size: 0.26rem;
    text-shadow: 0 0.02rem 0.04rem rgba(0, 0, 0, 0.5);
    line-height: 0.4rem;
  }
  .section4 .section4-right {
    position: absolute;
    right: -0.18rem;
    top: 1rem;
    width: 4.85rem;
    height: 5.5rem;
  }
  .section4 .section4-right .section4-right-img {
    width: 4.85rem;
    height: 5.5rem;
    background: url(../section4_right-m.png) no-repeat 0 0/100%;
  }
  .section4 .section4-right .section4-right-img:hover {
    background: url(../section4_right_hover-m.png) no-repeat 0 0/100%;
  }
  .section4 .section4-right .section4-right-img .section4-right-info {
    position: absolute;
    left: 2.1rem;
    top: 1.75rem;
    width: 3rem;
    height: 1.5rem;
    color: #fff;
    z-index: 11;
    font-size: 0.26rem;
    text-shadow: 0 0.02rem 0.04rem rgba(0, 0, 0, 0.5);
    line-height: 0.4rem;
  }
  .section4 .box4-down-app {
    margin: 0 auto;
    width: 9.8rem;
  }
  .section4 .box4-down-app a.down-app {
    position: absolute;
    left: calc(50% - 1.6rem);
    bottom: 0;
    width: 2.5rem;
    height: 0.6rem;
    margin: 0.2rem auto;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0, 0, 0, 0.5);
    background-color: #2c317f;
    font-size: 0.17rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.0077rem;
    text-align: center;
    color: #ffffff;
    line-height: 0.6rem;
  }
  .footer_m {
    background-color: #979797;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
  .footer_m a {
    width: 3.24rem;
    height: 1.2rem;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.34rem;
    font-weight: normal;
    letter-spacing: 0.0005rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .footer_m .trading_btn {
    width: 2.5rem;
    height: 0.9rem;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 0.02rem 0.1rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.02rem 0.1rem 0 rgba(0, 0, 0, 0.5);
    border: solid 0.01rem #ffffff;
    background-color: #2c317f;
    font-family: PingFangSC;
    font-size: 0.28rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85rem;
    letter-spacing: 0.0127rem;
    text-align: center;
    color: #ffffff;
  }
  .footer_m .kh_btn {
    width: 2.5rem;
    height: 0.9rem;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 0.02rem 0.1rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.02rem 0.1rem 0 rgba(0, 0, 0, 0.5);
    border: solid 0.01rem #ffffff;
    background-color: #c5c5c5;
    font-family: PingFangSC;
    font-size: 0.28rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85rem;
    letter-spacing: 0.0127rem;
    text-align: center;
    color: #2c317f;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 0.3rem;
    height: 0.3rem;
    border: solid 0.02rem #2c317f;
    background: transparent;
    opacity: 1;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2c317f;
  }
  .swiper-container-horizontal
> .swiper-pagination-bullets
.swiper-pagination-bullet {
    margin: 0 0.2rem;
  }
  .pop {
    top: 25%;
    left: calc(50% - 3.5rem);
    width: 6.9rem;
    height: 4.8rem;
  }
}
/*# sourceMappingURL=style.css.map */